@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
picture {
  margin: 5rem;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #5e7a7d;
}

.calculator {
  max-width: 32rem;
  margin: 4rem;
  padding: 2em;
  border-radius: 1rem;
  background-color: white;
}

.calculator__amount--bill {
  margin-bottom: 2.5rem;
}

.calculator__amount--tip :is(button, .button-custom) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  text-align: center;
  margin: 0 .4rem 1rem 0;
  font-size: 1.5rem;
  width: 8.5rem;
  padding: .5em;
  border: 0;
  border-radius: .5em;
  font-family: inherit;
}

.calculator__amount--tip button {
  color: white;
  background-color: #00494d;
}

.calculator__amount--tip .button-custom {
  color: #00494d;
  background-color: #f4fafa;
}

.calculator__amount--people {
  margin-bottom: 2.5rem;
}

.calculator__amount--people .number-people:hover {
  cursor: pointer;
}

:is(.calculator__sum--amount, .calculator__sum--total) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #11c4ac;
}

.calculator__sum {
  padding: 1em;
  border-radius: 1em;
  background-color: #00494d;
}

.calculator__sum p {
  font-size: small;
  color: white;
}

.calculator__sum span {
  color: #7f9c9f;
  font-size: smaller;
  display: block;
}

:is(.calculator__sum--amount, .calculator__sum--total) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:is(.calculator__sum--amount, .calculator__sum--total) div {
  margin-left: auto;
}

.calculator__sum--button {
  border-radius: .3em;
  border: none;
  background-color: #11c4ac;
  height: 3rem;
  width: 100%;
  margin-top: 2rem;
  font-family: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Space Mono', 'Monospace', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #c5e4e7;
}

label {
  display: block;
}

fieldset {
  border: none;
}

:is(.calculator__amount--bill, .calculator__amount--people) input[type='text'] {
  border: none;
  padding: 0.5em;
  width: 100%;
  border-radius: 0.5rem;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  color: #00494d;
}

#bill-amount {
  background: #f4fafa url("/images/icon-dollar.svg") no-repeat left 10px center;
}

#people-amount {
  background: #f4fafa url("/images/icon-person.svg") no-repeat left 10px center;
}
/*# sourceMappingURL=main.css.map */